/* Setter farge variabler */
:root {
    --accent: hsl(120, 20%, 70%);
    --accent-hover: hsl(120, 20%, 60%);
    --accent-active: hsl(120, 20%, 50%);
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 25%);
    --text-dimmed: hsl(0, 0%, 40%);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
    height: 100vh;
}

.container {
    margin-top: 3em;
}

.calendar {
    display: flex;
    justify-content: center;
    gap: 1em;
    height: auto;
}

.day {
    background-color: var(--bg-light);
    padding: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    width: 150px;
    border-radius: 1em;
    transition: 0.2s ease;
}

.day:hover {
    background-color: var(--accent-hover);
}

span {
    font-weight: bold;
    font-size: 1.25rem;
}

.day ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.day ul li{
    color: var(--text-dimmed);
}
