:root {
    --accent-color: hsl(120, 45%, 50%);
    --accent-color-hover: hsl(120, 45%, 40%);
    --accent-color-active: hsl(120, 45%, 30%);
    --base-color-dark: hsl(0, 0%, 90%);
    --base-color: hsl(0, 0%, 95%);
    --base-color-light: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 23%);
    --text-color-light: hsl(0, 0%, 70%);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--base-color-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: auto;
    border-radius: 3em;
    box-sizing: border-box;
    padding: 1em 3em 2em 3em;
    background-color: var(--base-color);
}

.current-time-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "box-3 box-1"
    "box-3 box-2";
    width: 100%;
    background-color: var(--base-color-light);  
    border-radius: 1.5em;
    padding: 1em;
}

.header-days {
    list-style: none;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    gap: 1em;
}

.header-days li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    aspect-ratio: 2 / 1;
    font-size: 1.2rem;
    font-weight: 500;
}

.days {
    list-style: none;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    gap: 1em;
}

.days li {
    height: 500px;
}

.times {
    list-style: none;
    display: grid;
    grid-template-rows: auto 100px 100px 100px 100px 100px;
}

.times li {
    display: flex;
    justify-content: center;
}



