
:root {
/* Variabler for alle fargene mine, gjør det letter å fin justere farger.*/
/* Lagde farge pallete med denne nettsiden: https://www.iamsajid.com/ui-colors/ */
    --bg-dark: oklch(0.1 0.03 273);
    --bg: oklch(0.15 0.03 273);
    --bg-light: oklch(0.2 0.03 273);
    --text: oklch(0.96 0.06 273);
    --text-muted: oklch(0.76 0.06 273);
    --highlight: oklch(0.5 0.06 273);
    --border: oklch(0.4 0.06 273);
    --border-muted: oklch(0.3 0.06 273);
    --primary: oklch(0.76 0.1 273);
    --secondary: oklch(0.76 0.1 93);
    --danger: oklch(0.7 0.06 30);
    --warning: oklch(0.7 0.06 100);
    --success: oklch(0.7 0.06 160);
    --info: oklch(0.7 0.06 260);

    /* Variabeler for andre effekter, fikk også dem fra den samme nettsiden */
    --shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
}

/* Light mode farger */
body.light {
    --bg-dark: oklch(0.92 0.03 273);
    --bg: oklch(0.96 0.03 273);
    --bg-light: oklch(1 0.03 273);
    --text: oklch(0.15 0.06 273);
    --text-muted: oklch(0.4 0.06 273);
    --highlight: oklch(1 0.06 273);
    --border: oklch(0.6 0.06 273);
    --border-muted: oklch(0.7 0.06 273);
    --primary: oklch(0.4 0.1 273);
    --secondary: oklch(0.4 0.1 93);
    --danger: oklch(0.5 0.06 30);
    --warning: oklch(0.5 0.06 100);
    --success: oklch(0.5 0.06 160);
    --info: oklch(0.5 0.06 260);
}


* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Bruker flexbox her for å sentrere alt sammen */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-dark);
}

/* Noe små greier for oppgave tittelen */
header {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

/* Bruker Grid for å få den plasseringen jeg vil ha */
.main {
    margin-top: 3em;
    width: 70%;
    height: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "box-1 box-2"
    "box-3 box-3";
    gap: 1em;
    justify-content: center;
    background-color: var(--bg);
    padding: 2em;
    border-radius: 2em;
}


/* Velger de 2 hoved boksene med tekst */
.text-container {
    background-color: var(--bg-light);
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-top: 1px solid var(--highlight);
    box-shadow: var(--shadow);
}

.text-container span {
    color: var(--text-muted);
}

/* Velger theme knappen sin parent */
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

/* Velger theme knappen */
.button-container button {
    font-size: 1.1em;
    font-weight: 400;
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--bg);
    transition: 0.15s ease;
}

/* Farge effekts for når du holder musa over, eller trykker på knappen */
.button-container button:hover {
    background-color: var(--secondary);
}
.button-container button:active {
    background-color: var(--primary);
} 
