/* Variabler for alle fargene mine, gjør det letter å fin justere farger.*/
/* Lagde farge pallete med denne nettsiden: https://www.iamsajid.com/ui-colors/ */
:root {
    --bg-dark: oklch(0.92 0 85);
    --bg: oklch(0.96 0 85);
    --bg-light: oklch(1 0 85);
    --text: oklch(0.25 0 85);
    --text-muted: oklch(0.4 0 85);
    --highlight: oklch(1 0 85);
    --border: oklch(0.6 0 85);
    --border-muted: oklch(0.7 0 85);
    --primary: oklch(0.4 0.1 85);
    --secondary: oklch(0.4 0.1 265);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);
}

/* Resetter alt til 0 margin, 0 padding og 'border-box' box-sizing, det gjør det lettere å style nettsiden */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Bruker flexbox her for å sentrere alt sammen */
body {
    background-color: var(--bg-dark);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Noe små greier for oppgave tittelen */
header {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.main {
    background-color: var(--bg);
    margin-top: 3em;
    padding: 1.25em;
    border-radius: 1.25em;
}

.text-container textarea {
    width: 1000px;
    height: 200px;
    border-radius: 16px;
    border-width: 3px;
    padding: 16px;
    resize: none;
    background-color: var(--bg-light);
}

/* Farge effekter til tekst felte får når du har muse pekeren over, eller når du skriver */
.text-container textarea:hover { border-color: var(--info); }
.text-container textarea:focus { border-color: var(--text-muted); }

.settings-container {
    margin-top: 1em;
    display: flex;
    gap: 2em;
}

.settings-container div {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.settings-container label {
    color: var(--text-muted);
}

.settings-container select {
    border-radius: 0.75em;
    padding: 0.25em;
    background-color: var(--info);
    color: var(--bg-light);
}

/* Farge effekter for dropdown menyene til når du har muse pekeren over, eller velger en ny setting. 
   Endrer også border radius når du velger ny setting til å være firkanta på bunn */    
.settings-container select:hover { background-color: var(--secondary); }
.settings-container select:open { background-color: var(--text-muted); border-radius: 0.75em 0.75em 0 0; }

.settings-container option {
    color: var(--bg-light);
}